:root {
  --blue: #0163D2;
  --grey: #00000036;
  --white: #f8f8f8;
  --black: #000000;
  --light_black: #222222;
}

h4, p {
  text-align: left;
}

* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: #000000;
}

li {
  list-style: none;
}

img {
  display: block;
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.light-color {
  color: rgb(173, 165, 165);
}

.dark-color {
  color: #000;
}